# Server Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dirasiq_db
DB_USER=postgres
DB_PASSWORD=Mlak1212@Mlak1212

# JWT Configuration
JWT_SECRET=37f08c65b1ea374e4cc38f4625c88e4174ecb24facb17138819255fe0133e8fd
JWT_EXPIRES_IN=4h

# Email Configuration (for verification)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=www.sjad.n@gmail.com
EMAIL_PASS=kfqaoixwpodiyjib


# Security
BCRYPT_ROUNDS=12
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Geocoding Configuration (OpenCage)
OPENCAGE_API_KEY=eb78762246664bcc87f6e0b364b70f02

# Timezone (Iraq timezone)
TZ=Asia/Baghdad
